<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzq.dao.ApplyDao">
    <resultMap id="BaseResultMap" type="com.hzq.domain.Apply">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="from_id" jdbcType="INTEGER" property="fromId" />
        <result column="to_id" jdbcType="INTEGER" property="toId" />
        <result column="apply_reason" jdbcType="VARCHAR" property="applyReason"/>
        <result column="apply_status" jdbcType="INTEGER" property="applyStatus"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
        <result column="user_id" jdbcType="INTEGER" property="userId" />
    </resultMap>
    <resultMap id="ApplyVoMap" type="com.hzq.vo.ApplyVo">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="from_id" jdbcType="INTEGER" property="fromId" />
        <result column="to_id" jdbcType="INTEGER" property="toId" />
        <result column="apply_reason" jdbcType="VARCHAR" property="applyReason"/>
        <result column="apply_status" jdbcType="INTEGER" property="applyStatus"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
        <result column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="nickname" jdbcType="VARCHAR" property="nickname" />
        <result column="avatar" jdbcType="VARCHAR" property="avatar" />
        <result column="sex" jdbcType="INTEGER" property="sex"/>
        <result column="sign" jdbcType="VARCHAR" property="sign"/>
    </resultMap>




<insert id="insert" parameterType="com.hzq.domain.Apply"  useGeneratedKeys="true" keyProperty="id">
    insert into apply ( from_id, to_id, apply_reason, user_id )
    values ( #{fromId, jdbcType = INTEGER}, #{toId, jdbcType = INTEGER},
            #{applyReason, jdbcType = VARCHAR},#{fromId, jdbcType = INTEGER}
    );
    insert into apply ( from_id, to_id, apply_reason, user_id )
    values ( #{fromId, jdbcType = INTEGER}, #{toId, jdbcType = INTEGER},
            #{applyReason, jdbcType = VARCHAR},#{toId, jdbcType = INTEGER}
    )
</insert>

<delete id="deleteById" parameterType="java.lang.Integer">
    delete from apply where id = #{id, jdbcType = INTEGER}
</delete>

<delete id="deleteByUserId" parameterType="java.lang.Integer">
    delete from apply where user_id = #{userId, jdbcType = INTEGER}
</delete>

<update id="update" parameterType="com.hzq.domain.Apply">
    update apply
    set apply_status = #{applyStatus, jdbcType = INTEGER}
    where from_id = #{fromId,jdbcType = INTEGER} and to_id = #{toId, jdbcType = INTEGER};
</update>

<select id="selectAll" parameterType="java.lang.Integer" resultMap="ApplyVoMap">
    select a.*,u.username,ui.nickname,ui.avatar,ui.sex,ui.sign
    from apply a left join user u
    on a.to_id = u.id
    left join user_info ui
    on ui.user_id = u.id
    where a.user_id = #{userId, jdbcType = INTEGER}
</select>

<select id="select" parameterType="java.lang.Integer" resultMap="ApplyVoMap">
    select a.*,u.username,ui.nickname,ui.avatar,ui.sex,ui.sign
    from apply a left join user u
    on a.to_id = u.id
    left join user_info ui
    on ui.user_id = u.id
    where a.from_id = #{fromId, jdbcType = INTEGER} and a.to_id = #{toId, jdbcType = INTEGER}
</select>


</mapper>