<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzq.dao.GroupMessageContentDao">
    <resultMap id="BaseResultMap" type="com.hzq.domain.GroupMessageContent">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="gm_content" jdbcType="VARCHAR" property="gmContent" />
        <result column="gm_type" jdbcType="INTEGER" property="gmType" />
        <result column="gm_from_id" jdbcType="INTEGER" property="gmFromId"/>
        <result column="group_id" jdbcType="INTEGER" property="groupId"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,gm_content,gm_type,gm_from_id,group_id,gmt_create
    </sql>

<insert id="insert" parameterType="com.hzq.vo.SendMessage" useGeneratedKeys="true" keyProperty="msg.id">
    insert into group_message_content (
        gm_content, gm_type, gm_from_id, group_id
    )
    values (
        #{msg.message, jdbcType = VARCHAR}, #{msg.messageType, jdbcType = INTEGER}, #{msg.fromId, jdbcType = INTEGER},
        #{msg.toIdOrGroupId, jdbcType = INTEGER}
    )
</insert>



<select id="selectUnread" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select  gmc.id,gmc.gm_content,gmc.gm_type,gmc.gm_from_id,gmc.group_id,gmc.gmt_create
    from group_message_content gmc left join group_to_user gtu
    on (gtu.group_id = gmc.group_id  and gmc.id > gtu.group_message_id)
    where gtu.user_id = #{userId, jdbcType = INTEGER}
    and gtu.group_id = #{groupId, jdbcType = INTEGER}

</select>


    <resultMap id="SendMessageMap" type="com.hzq.vo.SendMessage">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="gm_content" jdbcType="VARCHAR" property="message" />
        <result column="gm_type" jdbcType="INTEGER" property="messageType"/>
        <result column="gm_from_id" jdbcType="INTEGER" property="fromId"/>
        <result column="group_id" jdbcType="INTEGER" property="toIdOrGroupId"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="nickname" jdbcType="VARCHAR" property="name"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
    </resultMap>

<select id="selectAll" parameterType="java.lang.Integer" resultMap="SendMessageMap">
       select gmc.id,gmc.gm_content,gmc.gm_type,gmc.gm_from_id,gmc.group_id,gmc.gmt_create,ui.nickname,ui.avatar
        from group_message_content gmc
        left join group_to_user gtu
        on gtu.group_id = gmc.group_id
        left join user_info ui
        on ui.user_id = gtu.user_id
        left join group_message_delete gmd
        on  gmc.group_id = gmd.group_id and gmc.id != gmd.group_message_id
        where gmc.group_id = #{groupId, jdbcType = INTEGER} and gmd.user_id = #{userId, jdbcType = INTEGER} group by gmc.id;
</select>


<select id="selectAllUnread" parameterType="java.lang.Integer" resultMap="SendMessageMap">
    select  gmc.id,gmc.gm_content,gmc.gm_type,gmc.gm_from_id,gmc.group_id,gmc.gmt_create,ui.nickname,ui.avatar
    from group_message_content gmc left join group_to_user gtu
    on (gtu.group_id = gmc.group_id  and gmc.id > gtu.group_message_id)
    left join user_info ui
    on ui.user_id = gtu.user_id
    where gtu.user_id = #{userId, jdbcType = INTEGER}
</select>


    <resultMap id="GroupMessageDeleteMap" type="com.hzq.domain.GroupMessageDelete">
        <result column="group_id" jdbcType="INTEGER" property="groupId"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="group_message_id" jdbcType="INTEGER" property="groupMessageId"/>
    </resultMap>

    <insert id="insertToDelete" parameterType="java.lang.Integer">
    insert into group_message_delete (group_id,user_id,group_message_id)
    values (
        #{groupId, jdbcType = INTEGER}, #{userId, jdbcType = INTEGER}, #{groupMessageId, jdbcType = INTEGER}
    )
</insert>


</mapper>