<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzq.dao.GroupDao">
    <resultMap id="BaseResultMap" type="com.hzq.domain.Group">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="group_name" jdbcType="VARCHAR" property="groupName" />
        <result column="group_admin_id" jdbcType="INTEGER" property="groupAdminId" />
        <result column="group_icon" jdbcType="VARCHAR" property="groupIcon"/>
        <result column="group_notice" jdbcType="VARCHAR" property="groupNotice"/>
        <result column="group_introduction" jdbcType="VARCHAR" property="groupIntroduction"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, group_name, group_admin_id, group_icon, group_notice, group_introduction, gmt_create
    </sql>
    <sql id="Group_List">
         g.id, g.group_name, g.group_admin_id, g.group_icon, g.group_notice, g.group_introduction, g.gmt_create
    </sql>

<insert id="insert" parameterType="java.lang.Integer"  useGeneratedKeys="true" keyProperty="id">
    insert into `group` (group_admin_id)
    values (#{groupAdminId, jdbcType = INTEGER})
</insert>

<delete id="delete" parameterType="java.lang.Integer">
    delete from `group` where id = #{id, jdbcType = INTEGER}
</delete>

<update id="update" parameterType="com.hzq.domain.Group">
        update `group`
        <set>
            <if test="groupName != null">
                group_name = #{groupName, jdbcType = VARCHAR},
            </if>
            <if test="groupAdminId != null">
                group_admin_id = #{groupAdminId, jdbcType = INTEGER},
            </if>
            <if test="groupIcon != null">
                group_icon = #{groupIcon, jdbcType = VARCHAR},
            </if>
            <if test="groupNotice != null">
                group_notice = #{groupNotice, jdbcType = VARCHAR},
            </if>
            <if test="groupIntroduction != null">
                group_introduction = #{groupIntroduction, jdbcType = VARCHAR},
            </if>
        </set>
        where id = #{id, jdbcType = INTEGER}
</update>

<select id="selectAll" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select <include refid="Group_List" />
    from `group` g left join group_to_user gtu on g.id = gtu.group_id
    where gtu.user_id = #{userId, jdbcType = INTEGER}
</select>

<select id="selectGroup" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from `group` where id = #{id, jdbcType = INTEGER}
</select>

</mapper>