<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzq.dao.UserInfoDao">
    <resultMap id="BaseResultMap" type="com.hzq.domain.UserInfo">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="nickname" jdbcType="VARCHAR" property="nickname" />
        <result column="avatar" jdbcType="VARCHAR" property="avatar" />
        <result column="sex" jdbcType="INTEGER" property="sex"/>
        <result column="age" jdbcType="INTEGER" property="age"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="birthday" jdbcType="DATE" property="birthday"/>
        <result column="sign" jdbcType="VARCHAR" property="sign"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
    </resultMap>

<insert id="insert" parameterType="com.hzq.domain.UserInfo"  useGeneratedKeys="true" keyProperty="id">
    insert into user_info (nickname,user_id)
    values ( #{nickname, jdbcType = VARCHAR}, #{userId, jdbcType = INTEGER})
</insert>

<delete id="deleteUserInfoByPrimaryId" parameterType="java.lang.Integer">
    delete from user_info where user_id = #{userId, jdbcType = INTEGER}
</delete>

<update id="update" parameterType="com.hzq.domain.UserInfo">
    update user_info
    <set>
        <if test="nickname != null">
            nickname = #{nickname, jdbcType = VARCHAR},
        </if>
        <if test="avatar != null">
            avatar = #{avatar, jdbcType = VARCHAR},
        </if>
        <if test="sex != null">
            sex = #{sex, jdbcType = INTEGER},
        </if>
        <if test="age != null">
            age = #{age, jdbcType = INTEGER},
        </if>
        <if test="email != null">
            email = #{email, jdbcType = VARCHAR},
        </if>
        <if test="birthday != null">
            birthday = #{birthday, jdbcType = DATE},
        </if>
        <if test="sign != null">
            sign = #{sign, jdbcType = VARCHAR},
        </if>
    </set>
            where user_id = #{userId, jdbcType = INTEGER}
</update>

<select id="queryUserByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select ui.* from user_info ui left join user u
    on u.id = ui.user_id
    where u.username = #{username, jdbcType = VARCHAR}
</select>

<select id="queryUserById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select * from user_info where user_id = #{userId, jdbcType = INTEGER}
</select>

<select id="checkEmail" resultType="java.lang.Integer" parameterType="java.lang.String" >
    select count(1) from user_info where email = #{email, jdbcType = VARCHAR}
</select>

<select id="selectEmailByUserId" resultType="java.lang.String" parameterType="java.lang.Integer">
    select email from user_info where user_id = #{userId, jdbcType = INTEGER}
</select>



</mapper>